<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>Karaoke The Car's</h1>
      <img [src]="bannerImage" class="img-thumbnail rounded banner-image border border-0"
        alt="Karaoke The Cars" />
    </div>
  </div>


  <div class="row mt-2">
    <div class="col">
      <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnlang" id="btnlang1" autocomplete="off" checked (click)="manageLanguage('es')">
        <label class="btn btn-outline-primary" for="btnlang1">
          <img alt="language icon" src="/assets/imgs/spanish.png" style="height: 45px;"/>
        </label>
      
        <input type="radio" class="btn-check" name="btnlang" id="btnlang2" autocomplete="off" (click)="manageLanguage('en')">
        <label class="btn btn-outline-primary" for="btnlang2">
          <img alt="language icon" src="/assets/imgs/english.png" style="height: 45px;"/>
        </label>

        <input type="radio" class="btn-check" name="btnlang" id="btnlang7" autocomplete="off" (click)="manageLanguage('eu')">
        <label class="btn btn-outline-primary" for="btnlang7">
          <img alt="language icon" src="/assets/imgs/euskera.png" style="height: 45px;"/>
        </label>

        <input type="radio" class="btn-check" name="btnlang" id="btnlang4" autocomplete="off" (click)="manageLanguage('de')">
        <label class="btn btn-outline-primary" for="btnlang4">
          <img alt="language icon" src="/assets/imgs/german.png" style="height: 45px;"/>
        </label>
      
        <input type="radio" class="btn-check" name="btnlang" id="btnlang5" autocomplete="off" (click)="manageLanguage('it')">
        <label class="btn btn-outline-primary" for="btnlang5">
          <img alt="language icon" src="/assets/imgs/italian.png" style="height: 45px;"/>
        </label>

        <input type="radio" class="btn-check" name="btnlang" id="btnlang6" autocomplete="off" (click)="manageLanguage('fr')">
        <label class="btn btn-outline-primary" for="btnlang6">
          <img alt="language icon" src="/assets/imgs/french.png" style="height: 45px;"/>
        </label>

        <input type="radio" class="btn-check" name="btnlang" id="btnlang3" autocomplete="off" (click)="manageLanguage('other')">
        <label class="btn btn-outline-primary" for="btnlang3">
          <img alt="language icon" src="/assets/imgs/other.png" style="height: 45px;"/>
        </label>
      </div>
    </div>
  </div>

  {{languageMessage}}

  <div class="row">
    <div class="col">
      <div *ngIf="isLoading" style="width: 3rem; height: 3rem" class="spinner-border text-primary mt-5" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>

      <p-treeTable *ngIf="valid" #tt paginatorLocale="es-ES" [loading]="isLoading" [columns]="cols" [value]="tableData"
        [scrollable]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 25]" [filterMode]="filterMode">
        <ng-template pTemplate="caption">
          <input type="text" pInputText (input)="tt.filterGlobal($any($event.target)?.value, 'contains')"
            placeholder="Buscar" />
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
              {{ col.header }}
              <p-treeTableSortIcon [field]="col.field" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr [ttRow]="rowNode">
            <td>
              <p-treeTableToggler [rowNode]="rowNode" />
              {{ rowData.name }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="cols.length">
              {{ songNotFoundMessage }}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>